/*
!.gitignore
!README.md
!package.json
!package-lock.json
!webpack.mix.js
!readme-img

!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/antilope
/wp-content/themes/antilope/public
