.btn {
  color: #FFFFFF;
  background-color: #8AAB7C;
  font-size: 20px;
  padding: 18px 40px;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color ease-in-out 0.2s;
}

.btn:hover, .btn:focus {
  background-color: #5D7353;
}

.secondary--btn {
  color: #8AAB7C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: color ease-in-out 0.2s;
}

.secondary--btn:hover, .secondary--btn:focus {
  color: #526649;
}