.btn {
  color: #FFFFFF;
  background-color: #8AAB7C;
  font-size: em(20, 16);
  padding: em(18, 20) em(40, 20);
  border-radius: em(50, 20);
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: em(1, 20);
  transition: background-color ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover, .btn:focus {
  background-color: #5D7353;
}

.secondary--btn {
  color: #8AAB7C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: color ease-in-out 0.2s;
}

.secondary--btn:hover, .secondary--btn:focus {
  color: #526649;
}