@import "form";

.contact-card__card {
  background-color: #FFFFFF;
  box-shadow: 0 em(15, 16) em(35, 16) rgba(23, 47, 14, 0.15);
  border-radius: em(20, 16);
  padding: em(40, 16) em(100, 16) em(40, 16) em(60, 16);
  min-height: em(350, 16);
  display: flex;
  justify-content: space-between;
}

.contact-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //max-width: em(480, 16);
  grid-column: 1;
}

.contact-card__meta {
  line-height: em(25, 16);
}

.contact-card__link {
  align-self: start;
}

.contact-card__coords, .coord__content, .contact__coords {
  display: flex;
  flex-direction: column;
  gap: em(28, 16);
}

.contact-card__coords {
  justify-content: space-between;
  grid-column: 4;
}

.contact-card .coord__content {
  gap: em(10, 16);
}

.contact .coord__content {
  gap: em(13, 16);
}

.coord__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: em(20, 16);
}

.coord__link {
  text-transform: unset;
  font-weight: 700;
}

.address {
  line-height: em(20, 16);
}

.coord__socials {
  display: flex;
  gap: em(12, 16);
}

.sub-pages .contact__separator {
  justify-self: center;
}

.coord__svg {
  width: em(25, 16);
  height: em(25, 16);
}

.sub-pages .contact__coords {
  gap: em(30, 16);
}