@import "presentation";
@import "hero";

.home main {
  position: relative
}

.home__content h2 {
  text-align: center;
  margin-bottom: em(80, 50);
}

.home .modules, .home .articles {
  text-align: right;
}

.iframe__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  margin-bottom: em(120, 16);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contact__card {
  background-color: #FFFFFF;
  box-shadow: 0 em(15, 16) em(35, 16) rgba(23, 47, 14, 0.15);
  border-radius: em(20, 16);
  padding: em(40, 16) em(100, 16) em(40, 16) em(60, 16);
  min-height: em(350, 16);
  display: grid;
  grid-template-columns: em(500, 16) 1fr 1fr;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: em(480, 16);
  grid-column: 1;
}

.contact__link {
  max-width: em(300, 20);
}

.contact__coords, .coord__content {
  display: flex;
  flex-direction: column;
  gap: em(15, 16);
}

.home .contact__coords {
  justify-content: space-between;
  grid-column: 4;
}

.contact__separator {
  height: 100%;
  width: 2px;
  background-color: #D9E0CA;
}

.home .contact__separator {
  grid-column: 3;

}

.coord__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: em(20, 16);
}

.coord__link {
  text-transform: unset;
  color: #172F0E;
  font-weight: 700;
  transition: color ease-in-out 0.2s;
}

.coord__link:hover, .coord__link:focus {
  color: #8AAB7C;
}

.address {
  line-height: em(20, 16);
}