.presentation {
  background-color: #FFFFFF;
  padding: em(40, 16);
  border-radius: em(20, 16) 0 0 em(20, 16);
  box-shadow: em(-5, 16) em(5, 16) em(45, 16) rgba(23, 47, 14, 0.15);
  display: flex;
  gap: em(50, 16);
  position: absolute;
  height: em(396, 16);
  right: 0;
  top: em(-450, 16);
}

.presentation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: em(500, 16);
}

.presentation__link {
  align-self: start;
}

.presentation__meta {
  line-height: em(30, 16);
}