.presentation {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 5px 45px rgba(23, 47, 14, 0.15);
  display: flex;
  position: absolute;
  height: 396px;
  left: 12.85%;
  right: 0;
  top: -460px;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 570px;
}

.presentation__link {
  max-width: 300px;
  padding: 20px;
}

.presentation__meta {
  line-height: 30px;
}

.presentation__img {
  max-height: 800px;
  max-width: 800px;
  clip-path: circle(38%);
  position: absolute;
  top: -180px;
  left: 520px;

}